/**************************************
inicio.css
Indicar Expertos en vehículos.

******************************************/



/********        1# - Inicio        *******/



.categorias h1 {
    text-align: center;
    font-size: 20px;
    color: #fff;
    margin-top: 70px;
    margin-bottom: 15px;
    font-weight: 500;
    letter-spacing: 0.5px;
}

section.categorias.busqueda {
    background: url(https://images.pexels.com/photos/350776/pexels-photo-350776.jpeg?w=940&h=650&dpr=2&auto=compress&cs=tinysrgb) center center;
    background-size: cover;
}


/*section.categorias:after {
    content: '';
    background: #202a4b;
    height: 320px;
    bottom: 194px;
    position: absolute;
    width: 100%;
    z-index: 1;
    background: -moz-linear-gradient(top, rgba(0,24,106,0) 0%, rgba(0,24,106,0.5) 100%);
    background: -webkit-linear-gradient(top, rgba(0,24,106,0) 0%,rgba(0,24,106,0.5) 100%);
    background: linear-gradient(to bottom, rgba(0,24,106,0) 0%,rgba(0,24,106,0.5) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#0000186a', endColorstr='#8000186a',GradientType=0 );
}*/

.items-categorias{
    margin: 0;
}
.item-categoria {
    background: #fff;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    display: inline-block;
    padding: 10px;
    margin: 5px;
    border: 0;
}


.item-categoria i{
    font-size: 28px;
    color: #cc250e;
}

.items-categorias  p {
    font-size: 14px;
    text-align: center;
    width: 100%;
    color: #fff;
    font-weight: 400;
}

.contenido-clase {
    overflow: auto;
    white-space: nowrap;
    padding-bottom: 20px;
    padding-left: 10px;
}


.item-clase {
    background: #fff;
    border-radius: 5px;
    width: 120px;
    height: 120px;
    display: inline-block;
    padding: 10px;
    margin: 0 10px;
    border: 0;
    -webkit-box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}

.item-clase i{
    font-size: 28px;
    color: #cc250e;
}

.item-clase p{
    margin: 0;
    font-size: 12px;
}

.buscafacil {
    padding: 20px 0px 10px 0;

    margin-bottom: 20px;
    max-width: 700px;
    margin: 0 auto;

}





.buscafacil .form-group {
    margin-bottom: 20px;
}


.buscafacil > div,
.buscafacil > h2{
    position: relative;
    z-index: 5;
}

.cont-buscafacil.inactive{
    display: none
}

.cont-buscafacil.active{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}


.abrir-busqueda.active{
    display: none;
}

.titulo-seccion h3 a{
    color: #404040;

}

.titulo-seccion .subtitulo{
    color: #999;
}

button.vermas {
    position: absolute;
    right: 0;
    top: 10px;
    border: 0px;
    background: transparent;
    font-size: 14px;
    color: #404040;
    cursor: pointer;
}

button.vermas i {
    font-size: 18px;
    color: #404040;
    top: 5px;
    position: relative;
}


/* Small Devices, Tablets */
@media only screen and (min-width : 768px) {

    .abrir-busqueda, .btn-busqueda{
        max-width: 300px;
        margin: 0 auto;
    }


}