

<!-- Module Header -->

<div id="module-header"  class="green">

	<div class="container-fluid">

		<h3>Dashboard</h3>

	</div>

</div>


<!-- Module content -->

<div id="module-content">

	<div class="container-fluid">

		<div class="row">

			<mat-card class="col-12">
				<h3>My title app</h3>
				<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sunt corporis perspiciatis hic, ex, temporibus ab! Aut dicta architecto sit molestias eligendi numquam praesentium ipsam rerum dolore! Vel ipsum voluptates recusandae aspernatur, iusto. Hic facere error veritatis.</p>

			</mat-card>
			
		</div>
	</div>

	

</div>

