

<!-- Module Header -->

<div id="module-header">

	<div class="container-fluid">

		<h3>AppForms</h3>

	</div>

</div>


<!-- Module content -->

<div id="module-content">

	<div class="container-fluid">

		<div class="row">

			<mat-card class="col-12">

				<!-- Agregar contenido aquí -->

				<form class="example-form">
				  <mat-form-field class="example-full-width">
				    <input matInput placeholder="Favorite food" value="Sushi">
				  </mat-form-field>

				  <mat-form-field class="example-full-width">
				    <textarea matInput placeholder="Leave a comment"></textarea>
				  </mat-form-field>
				</form>


			</mat-card>
			
		</div>
	</div>

	

</div>

