
<div id="app-navbar" [ngClass]="appNav ? 'active' : 'inactive' ">

	<ul id="nav">
		<li>
			<i class="material-icons">home</i>
			<a routerLink="/home"(click)="appNav=!appNav" >home</a>
		</li>
		<li>
			<i class="material-icons">dashboard</i>
			<a routerLink="/dashboard" (click)="appNav=!appNav" >Dashboard</a>
		</li>
		<li>
			<i class="material-icons">info</i>
			<a routerLink="/navbar" (click)="appNav=!appNav" >About</a>
		</li>
	</ul>

</div>
	
<div id="toggle-app">

	<button id="toggle-app-navbar" (click)="appNav=!appNav"  [ngClass]="appNav ? 'active' : 'inactive'" type="button">
		<span class="line1"></span>
		<span class="line2"></span>
		<span class="line3"></span>
	</button>
</div>

<div id="overlay" [ngClass]="appNav ? 'active' : 'inactive' " (click)="appNav=!appNav"></div>

<app-headbar></app-headbar>

<div id="app-content" [ngClass]="appNav ? 'active' : 'inactive' ">	
	<router-outlet></router-outlet>	
</div>